{% extends 'base.html.twig' %}

{% block main %}
	<body class="text-center">
		<main class="form-signin">
			<form method="post" class="d-flex align-items-center flex-column">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}
                
                {% if app.user is null %}

                </br>
                </br>
                </br>
				<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

				<div class="form-floating justify-content-center">
					<input value="{{ last_username }}" name="email" id="inputEmail"type="email" class="form-control" placeholder="name@example.com" autocomplete="email" required autofocus>
					<label for="floatingInput">Email address</label>
				</div>
				<div class="form-floating">
					<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password" required>
					<label for="floatingPassword">Password</label>
				</div>
                <div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>

				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" value="remember-me">
						Remember me
					</label>
				</div>
				<button class="w-45 btn btn-lg btn-primary" type="submit">Sign in</button>
                {% endif %}
			</form>

		</main>
	</body>


{% endblock %}